<%- include('header') -%>
    <div class="container">
        <h1>Home page</h1>

        <% if (user) {%>
            <h3>Welcome back, <a href="/user/<%= user.url %>"><%= user.username %></a></h3>
        
        <% if (user.admin) { %>
            <p class="text-danger">admin privileges enabled!</p>
        <% } %>

        <% } else { %>
            <div class="text-center">
                <h5>Log in</h5>
            </div>
            <form action="/log-in" method="POST">
              <label for="username">Username</label>
              <input class="form-control" name="username" placeholder="username" type="text"/>
              <label for="password">Password</label>
              <input class="form-control" name="password" type="password"/>
              <button class="btn btn-success">Log In</button>
            </form>
        
        <hr class="">    

        <div class="text-center" style="font-size: large;">
            <a
                href="/sign-up"
                class="badge bg-primary"
                >New User? Create an account!</a
            >
        </div>
        <%}%>

    </div>
<%- include('footer') -%>